* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* to be able to size with %, we need a reference */
html {
    height: 100%;
    width: 100%;
}
body { 
    font: 13px Helvetica, Arial;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
#nickname-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#nickname-modal__content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.main {
    /* set a non static position, to be able to position the
    background and play with z-index */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    /* by default, all non static child will have z-index: auto and
    inherit this z-index */
    z-index: 0;
}
.main__background {
    /* we get out of the flexbox system (in fact the flow) with this position absolute */
    position: absolute;
    /* as we are not a flexbox item, we need to specify width and height */
    width: 100%;
    height: 100%;
    background-image: url('bg-whatsapp.png');
    background-color:rgb(236, 139, 92);
    /* note: opacity has influence on the stacking context also */
    opacity: .1;
    /* if over default (.main, 0), will prevent .main_messages from scrolling
    if same as default .main__header has this background 
    explained here: https://www.w3.org/TR/css-color-3/#transparency
     */
    z-index: -1;
}
.main__header {
    position: relative;
    min-height: 5%;
    background-color: #d8d8d8;
    border-bottom: 1px solid rgba(0,0,0,.08);
}
.main__messages {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    height: 90%;
}
.main__messages__display {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.messages-container {
    position: relative;
    display: flex;
    flex-direction: column;
}
.message-line {
    /* this is needed for having messsage with variable width 
    as the flex item, the message, will be handled by flex along
    the right axis (horizontal, row) */
    position: relative;
    display: flex;
}
.message {
    position: relative;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 30%;
}
.message__header {
    position: relative;
    color: #35cd96;
}
.message__content {
    margin-top: 5px;
    position: relative;
    word-break: break-all;
}
.main__footer {
    position: relative;
    background-color: #d8d8d8;
    min-height: 5%;
    display: flex;
    justify-content: center;
}
#send {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}
#m {
    position: relative;
    border-radius: 5px;
}
.aside {
    display: flex;
    flex-direction: column;
}
#user-status {
    display: flex;
    flex-direction: column;
}
@media all and (max-width: 800px) {
    body {
        flex-direction: column;
    }
    .aside {
        order: 1;
    }
    .main  { 
        width: 100%;
        order: 2; 
    }
  }